canvas {
    cursor: none;
}

.player {
    position:absolute;
    width:32px;
    height:32px;
}

.red {
    background:red;
}

.black {
    background:black
}

.game-counter {
    float:right;
}

.data {
    font-family: sans-serif;
    font-size:20px;
    margin-right:50px;
}